body
{

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:900px;
    height:900px;
    gap:2px;
}
.tile{
    outline:2px solid black;
    background-size: contain;
    padding:16px;
}
.result 
{
    font-size:64px;
    font-family:sans-serif;
}